<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CRConfirmOrderServiceProtocol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90C39F021E06E09500800668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90C39F1B1E06E09600800668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90C39F261E06E09600800668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
